<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Shrutify</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <ng-container *ngFor="let tab of tabs">
          <li class="nav-item">
            <a 
              class="nav-link" 
              [ngClass]="tab['route'] == activeTab ? 'active' : ''" 
              aria-current="page" 
              [href]="tab['route']"
            >
              {{ tab['displayName'] }}
            </a>
          </li>
        </ng-container>
      </ul>
      <span 
        class="material-symbols-outlined"
        style="cursor: pointer;" 
        (click)="logout()"
        aria-current="page" 
      >
        logout
      </span>
    </div>
  </div>
</nav>